extends ../layout
block content
	.h-xs-100.container.text-xs-center
		.v-center-xs.col-xs-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4
			p.lead Request Password Reset
			form(id="request-reset", accept-charset="UTF-8", action="/forgot", method="POST")
				.form-group
					label.sr-only( for='email' ) Email Address
					input.form-control(type='email', id='email', name="email", placeholder='email address')
				.form-group
					button.trigger-request-reset.btn.btn-primary.btn-loading.btn-block(type="submit",)
						span.btn-loading-text Send Reset Email
				.font--sm-1
					a(href="/login", title="Login") Login