
.alerts{
  list-style: none;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999999;
  padding: 0;

  @include media($screen-sm) {
    bottom: 0;
    width: 100%;
  }
}

.alert{
  clear: both;
  padding: 0;
  display: block;
  text-align: center;
  height: 30px;
  position: relative;
  font-weight: 400;
  font-size: 13px;
  background: none;
  margin-bottom: 10px;
  border: none;

  @include media($screen-sm){
    margin-top: 5px;
  }


  &.error{
    .alert-message{
      background-color: map-get($red, main);
      color: white;
    }

  }
  &.info{
    .alert-message{
      background-color: map-get($blue, main);
      color: white;
    }
  }
  &.success{
    .alert-message {
      background-color: map-get($green, main);
      color: white;

    }
  }
}

.alert-message{
  line-height: 30px;
  margin: 0 auto;
  padding: 5px 15px;
  background-color: #fafafa;
  opacity: .9;
  cursor: default;
  display: block;
  width: 100%;
  border-radius: 0px;

  @include media($screen-sm) {
    display: inline-block;
  }

  a{
    color: white;
    text-decoration: underline;
  }

  p{
    margin-bottom: 0;
  }
}
