extends layout

block content
	.p-y-15.container.text-xs-center
		.col-sm-12
			h1
				span.fa.fa-thumbs-o-up
				|  Welcome to groundwork-postgres
			p.lead This is a starter project for Node and Postgres Apps.
			hr
			a.btn.btn-primary(href="/login") Login
			br
			a.btn.btn-link.btn-sm(href="/signup") Or Sign Up