extends layout

block content
	.h-xs-100.container
		.col-sm-12.v-center-xs
			h3 Welcome to groundwork-postgres
			p.lead This is a starter project for Node and Postgres Apps.
			hr
			a.btn.btn-primary(href="/login") Login
			a.btn.btn-link.btn-sm(href="/signup") or Sign Up