doctype html
html(lang="en")
	head
		include ./blocks/meta
			
		if config.environment === 'local'
			script(src="//localhost:35729/livereload.js")
			
		link(rel='stylesheet', href='/builds/style.3f40c80099b7e5f06a84df0ef3c85662.css')
		
		script(type='text/javascript', src="/node_modules/tether/dist/js/tether.min.js")

		if config.production
			script(type="text/javascript", src='/javascripts/require.js')
		else
			script(data-main='/javascripts/main.js', src='/javascripts/require.js')

		script(type='text/javascript').
			define('config', !{JSON.stringify(config)});

		script(type='text/javascript').
			define('data', !{JSON.stringify(data)});
	body
		block header
			include ./blocks/header
				
		block content
			
		block footer
			include ./blocks/footer
				
		block alerts
			include blocks/alerts
				
		block tracking
			include ./blocks/tracking
	
	if config.production
		script(type="text/javascript", src='/builds/main-built.dda29a28b1ce3f3fc86dd5c7f59b76a2.js')