body, html {
  font-family: $base-sans-font;
}

.font-serif{
  font-family: $base-sans-font;
}

.font-weight--100 {
  font-weight:100;
}
.font-weight--200 {
  font-weight:200;
}
.font-weight--300 {
  font-weight:300;
}
.font-weight--400 {
  font-weight:400;
}
.font-weight--500 {
  font-weight:500;
}
.font-weight--600 {
  font-weight:600;
}
.font-weight--700 {
  font-weight:700;
}
.font-weight--800 {
  font-weight:800;
}
.font-weight--900 {
  font-weight:900;
}

// Letter Spacing
.letter-spacing--1 {
  letter-spacing: 1px;
}
.letter-spacing--2 {
  letter-spacing: 2px;
}
.letter-spacing--3 {
  letter-spacing: 3px;
}
.letter-spacing--4 {
  letter-spacing: 4px;
}
.letter-spacing--5 {
  letter-spacing: 5px;
}
.letter-spacing--6 {
  letter-spacing: 6px;
}
.letter-spacing--7 {
  letter-spacing: 7px;
}
.letter-spacing--8 {
  letter-spacing: 8px;
}
.letter-spacing--9 {
  letter-spacing: 9px;
}
.letter-spacing--10 {
  letter-spacing: 10px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}


// breakpoint variables
$lg: $screen-lg;
$md: $screen-md;
$sm: $screen-sm;
$xs: $screen-xs;

// body font size
$browser-context: 16;

// typography scale
$body-font-size: (null: 16, $md: 15, $sm: 14, $xs: 13);
$h1-font-size: (null: 72, $md: 60, $sm: 54, $xs: 48);
$h2-font-size: (null: 60, $md: 54, $sm: 48, $xs: 42);
$h3-font-size: (null: 54, $md: 48, $sm: 42, $xs: 36);
$h4-font-size: (null: 48, $md: 42, $sm: 36, $xs: 32);
$h5-font-size: (null: 42, $md: 36, $sm: 32, $xs: 26);
$h6-font-size: (null: 36, $md: 32, $sm: 26, $xs: 22);

$font-sm-1: (null: 12, $md: 11, $sm: 10, $xs: 9);
$font-sm-2: (null: 14, $md: 13, $sm: 12, $xs: 11);
$font-md-1: (null: 22, $md: 20, $sm: 18, $xs: 18);
$font-md-2: (null: 26, $md: 24, $sm: 22, $xs: 22);
$font-lg-1: (null: 36, $md: 33, $sm: 30, $xs: 30);
$font-lg-2: (null: 48, $md: 44, $sm: 40, $xs: 38);
$font-xl-1: (null: 80, $md: 72, $sm: 64, $xs: 46);
$font-xl-2: (null: 98, $md: 90, $sm: 82, $xs: 74);


body, html {
  line-height: 1.6875;
  @include font-size-map($body-font-size);
}

h1 {
  line-height: 1.275;
  @include font-size-map($h1-font-size);
}

h2 {
  line-height: 1.275;
  @include font-size-map($h2-font-size);
}

h3 {
  line-height: 1.275;
  @include font-size-map($h3-font-size);
}

h4 {
  line-height: 1.275;
  @include font-size-map($h4-font-size);
}

h5 {
  line-height: 1.275;
  @include font-size-map($h5-font-size);
}

h6 {
  line-height: 1.275;
  @include font-size-map($h6-font-size);
}

.font--sm-1 {
  line-height: 1.5;
  @include font-size-map($font-sm-1);
}
.font--sm-1 {
  line-height: 1.5;
  @include font-size-map($font-sm-2);
}
.font--md-1 {
  line-height: 1.5;
  @include font-size-map($font-md-1);
}
.font--md-2 {
  line-height: 1.5;
  @include font-size-map($font-md-2);
}
.font--lg-1 {
  line-height: 1.2;
  @include font-size-map($font-lg-1);
}
.font--lg-2 {
  line-height: 1.2;
  @include font-size-map($font-lg-2);
}
.font--xl-1 {
  line-height: 1.1;
  @include font-size-map($font-xl-1);
}
.font--xl-2 {
  line-height: 1.1;
  @include font-size-map($font-xl-2);
}